// START:: VARIABLES
@import 'variables.scss';
// END:: VARIABLES

// START:: MIXINS
@import 'mixins.scss';
// END:: MIXINS

// START:: GLOBA AR STYLES
.form-check {
  padding-right: 1.25rem;
  .form-check-input {
    margin-right: -1.25rem;
  }
}

h2,
h3 {
  border-right: 3px solid $lightCoffee;
  border-left: none !important;
}
// START:: GLOBA AR STYLES

// START:: LARGE SCREENS NAVBAR AR STYLES
nav {
  // START:: LANGUAGE BTN STYLE
  .lang-button {
    a {
      span {
        font-size: 16px;
        &.en {
          display: none;
        }
        &.ar {
          display: inline-block;
          margin-bottom: 3px;
          margin-inline-start: 3px;
        }
      }
    }
  }
  // END:: LANGUAGE BTN STYLE
}
// END:: LARGE SCREENS NAVBAR AR STYLES

// START:: TESTEMONIAL AR SECTION STYLES
.testemonials {
  .owl-carousel {
    .item {
      direction: rtl;
    }
  }
}
// END:: TESTEMONIAL AR SECTION STYLES