// START:: VARIABLES
@import 'variables.scss';
// END:: VARIABLES

// START:: MIXINS
@import 'mixins.scss';
// END:: MIXINS

// START:: GLOBAL STYLES
body {
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    background-color: $lighterGrey;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $deepBlue;
  }
}

// START:: FLEX SLIDER GLOBAL STYLES
.flexslider {
  margin-bottom: 15px !important;
  .flex-viewport {
    max-height: 400px !important;
    .slides {
      img,
      iframe {
        border-radius: $borderRadiusAmount;
        min-height: 400px;
        max-height: 400px;
        width: 100%
      }
      .min_img {
        min-width: 150px;
        max-width: 150px;
        min-height: 100px;
        max-height: 100px;
      }
    } 
  }

  .flex-control-thumbs {
    max-height: 120px !important;
    li {
      padding: 0 5px;
      img {
        height: 120px !important;
        border-radius: $borderRadiusAmount;
      }
    }
  }

  .flex-direction-nav {
    display: none !important;
  }
}
// END:: FLEX SLIDER GLOBAL STYLES

.header_img_wraper {
  position: relative;
  min-height: 300px;
  max-height: 300px;
  img {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
  }
  .spikes {
    position: relative;
    background: transparent;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      left: -0%;
      bottom: 0;
      z-index: 10;
      display: block;
      height: 30px;
      background-size: 30px 100%;
      background-image: linear-gradient(325deg, #fff 25%, transparent 25%), 
                        linear-gradient(36deg, #fff 25%, transparent 25%);
      background-position: 0 0;
    }
  }
}
// END:: GLOBAL STYLES

// START:: LARGE SCREENS NAVBAR STYLES
nav {
  padding: 5px 10px;
  border-bottom: 2px solid $deepRed;

  // START:: NAV LOGO STYLE
  .site-logo {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  // END:: NAV LOGO STYLE

  // START:: NAV LINKS STYLE
  .nav-links {
    ul {
      li {
        @include menuHoverEffect();
      }
    }
  }
  // END:: NAV LINKS STYLE

  // START:: CART BUTTON STYLES
  .cart_btn {
    a {
      text-decoration: none;
      position: relative;
      span {
        position: absolute;
        top: -8px;
        right: -8px;
      }
      svg {
        color: $deepBlue;
      }
    }
  }
  // END:: CART BUTTON STYLES

  .login_btn {
    a {
      text-decoration: none;
      color: $deepBlue;
      &:hover {
        color: $deepRed;
      }
    }
  }

  // START:: LANGUAGE BTN STYLE
  .lang-button {
    a {
      text-decoration: none;
      color: $darkGrey;
      padding: 0 5px;
      font-weight: bold;
      border: 2px solid $midRed;
      @include borderradius($largeBorderRadiusAmount);
      width: 60px;
      @include flexCenterAlignment();
      justify-content: space-between;

      span {
        font-size: 16px;
        &.ar {
          display: none;
        }
        &.circle {
          width: 20px;
          height: 20px;
          @include borderradius(50%);
          background-color: $midRed;
        }
      }
    }
  }
  // END:: LANGUAGE BTN STYLE

  // START:: MENU TOGGLER BTN STYLE
  .menu_btn {
    display: none;
    border: none;
    background-color: transparent;
    font-size: 25px;
    svg {
      color: $midRed;
    }
  }
  // END:: MENU TOGGLER BTN STYLE
}
// END:: LARGE SCREENS NAVBAR STYLES

// START:: SMALL SCREENS MENU STYLES
.small_menu {
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100vh;
  z-index: 999;
  background-color: $white;
  transition: all 0.6s ease-in-out;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: $paddingAmount;
  .btn_box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      border: none;
      background-color: transparent;
      font-size: 30px;
      svg {
        color: $deepBlue;
        &:hover {
          color: $midRed;
        }
      }
    }
  }

  ul {
    @include flexCenterAlignment();
    align-items: flex-start;
    flex-direction: column;
    li {
      @include menuHoverEffect();
      font-size: 18px !important;
      margin: 5px 0 !important;
    }
  }
}
// END:: SMALL SCREENS MENU STYLES

// START:: MENUS MEDIA
@media ( max-width: 1242px ) {
  nav {
    .nav-links {
      display: none;
    }
    .menu_btn {
      display: block;
    }
  }
}
// END:: MENUS MEDIA

// START:: PRELOADER STYLES
.pre_loader {
  width: 100%;
  height: 100vh;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  @include flexCenterAlignment();
  flex-direction: column;

  img {
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
  }

  .spinner {
    margin-top: 40px;
    width: 40px;
    height: 40px;
    position: relative;
    .cube1, 
    .cube2 {
      width: 15px;
      height: 15px;
      position: absolute;
      top: 0;
      left: 0;
      
      -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
      animation: sk-cubemove 1.8s infinite ease-in-out;
    }
    .cube1 {
      background: $lightRed;
      background: -webkit-linear-gradient(to right, #cbcaa5, $lightRed);
      background: linear-gradient(to right, #cbcaa5, $lightRed);
    } 
    .cube2 {
      background: #334d50;
      background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);
      background: linear-gradient(to right, #cbcaa5, #334d50);
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
  }
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
// END:: PRELOADER STYLES

// START:: HOME SLIDER STYLES
.carousel {
  .carousel-indicators {
    li {
      padding: 0;
      width: 13px;
      height: 13px;
      border: none;
      @include borderradius(50%);
      &.active {
        width: 40px;
        background-color: $midRed;
        border: none;
        @include borderradius(30px);
      }
    }
  }

  .carousel-inner {
    max-height: 800px;
    img {
      width: 100%;
      min-height: 800px;
      max-height: 800px;
    }
  }
}
// END:: HOME SLIDER STYLES

// START:: ABOUT US SECTION STYLES
.about_us_sec {
  padding: $paddingAmount;

  .about_us_img_wraper {
    img {
      border-radius: $borderRadiusAmount;
      width: 100%;
      height: auto;
    }
  }

  .about_us_text_wraper {
    .header_wraper {
      @include flexCenterAlignment();
      justify-content: flex-start;
      @include mainHeaderStyle();
      margin-inline-start: 75px;
      margin-bottom: 15px;
    }

    .text_wraper {
      font-size: 18px;
      line-height: 1.6;
      color: $lightGrey;
    }

    .btn_wraper {
      margin-top: 20px;
      @include flexEndAlignment();
      a {
        @include btnHoverEffect();
      }
    }
  }
}
// END:: ABOUT US SECTION STYLES

// START:: OUR SERVICES SECTION STYLES
.services_sec {
  padding: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .service_wraper {
    a {
      text-decoration: none;
      @include flexCenterAlignment();
      flex-direction: column;
      img {
        min-width: 200px;
        max-width: 200px;
        min-height: 200px;
        max-height: 200px;
        @include borderradius(50%); 
      }

      h5 {
        text-align: center;
        font-weight: 600;
        margin-top: 10px;
        color: $deepBlue;
        padding-inline-start: 10px;
        border-left: 2px solid $deepRed;
      }

      svg {
        margin-top: 8px;
        color: $deepRed;
      }
    }
  }
}
// END:: OUR SERVICES SECTION STYLES

// START:: HEIGHLIGHTS SECTION STYLES
.heightlights {
  padding: $paddingAmount 0;
  position: relative;
  width: 100%;

  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .card {
    background-color: transparent;
    border: none;
    @include flexCenterAlignment();
    flex-direction: row;
    .icon_wraper {
      img {
        width: 150px;
        height: 150px;
      }
    }

    .info_wraper {
      h3 {
        font-weight: 700;
        color: $deepRed;
      }
      h5 {
        color: $lightGrey;
      }
    }
  }
}
// END:: HEIGHLIGHTS SECTION STYLES

// START:: EVENTS STYLES
.events_sec {
  padding: $paddingAmount;

  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .event_img_wraper {
    position: relative;
    img {
      border-radius: $borderRadiusAmount;
      width: 100%;
      height: auto;
    }

    .event_date {
      color: $white;
      background-color: $midRed;
      padding: 8px;
      @include flexCenterAlignment();
      @include borderradius(5px);
      position: absolute;
      left: -10%;
      bottom: 20%;
      p {
        font-size: 13px;
        margin-inline-start: 12px;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .event_text_wraper {
    .header_wraper {
      @include flexCenterAlignment();
      justify-content: flex-start;
      h3 {
        color: $deepBlue;
      }
    }

    .text_wraper {
      font-size: 18px;
      line-height: 1.6;
      color: $lightGrey;
    }

    .btn_wraper {
      margin-top: 20px;
      @include flexEndAlignment();
      a {
        @include btnHoverEffect();
      }
    }
  }
}
// END:: EVENTS STYLES

// START:: PRODUCTS CATS SECTION STYLES
.products_cats {
  padding: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .cats_wraper {
    a {
      text-decoration: none;
      @include flexCenterAlignment();
      flex-direction: column;
      img {
        min-width: 200px;
        max-width: 200px;
        min-height: 200px;
        max-height: 200px;
        @include borderradius(50%); 
      }

      h5 {
        text-align: center;
        font-weight: 600;
        margin-top: 10px;
        color: $deepBlue;
        padding-inline-start: 10px;
        border-left: 2px solid $deepRed;
      }

      svg {
        margin-top: 8px;
        color: $deepRed;
      }
    }
  }
}
// END:: PRODUCTS CATS SECTION STYLES

// START:: LATEST NEWS SECTION STYLES
.latest_news_sec {
  padding: $paddingAmount;

  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .latest_article_img_wraper {
    position: relative;
    img {
      border-radius: $borderRadiusAmount;
      width: 100%;
      height: auto;
    }
  }

  .latest_article_text_wraper {
    .header_wraper {
      @include flexCenterAlignment();
      justify-content: space-between;
      h3,
      h5 {
        color: $deepBlue;
      }
    }

    .text_wraper {
      font-size: 18px;
      line-height: 1.6;
      color: $lightGrey;
    }
  }

  .btn_wraper {
    margin-top: 20px;
    @include flexCenterAlignment();
    a {
      @include btnHoverEffect();
    }
  }
}
// END:: LATEST NEWS SECTION STYLES

// START:: OUR CLIENTS SECTION STYLES
.our_clients_sec {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .owl-carousel {
    position: relative;
    @include flexCenterAlignment();

    .item {
      .img_wraper {
        min-height: 150px;
        max-height: 150px;
        img {
          width: 100%;
          min-height: 150px;
          max-height: 150px;
        }
      }

    }
  }

  .btn_box {
    margin-top: 15px;
    @include flexCenterAlignment();
    a {
      overflow: hidden;
      @include btnHoverEffect();
    }
  }
}
// END:: OUR CLIENTS SECTION STYLES

// START:: OUR TEAM SECTION STYLES
.our_team_sec {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .owl-carousel {
    position: relative;

    .item {
      .card {
        background-color: transparent;
        border: none;
        @include flexCenterAlignment();
        img {
          min-width: 250px;
          max-width: 250px;
          min-height: 250px;
          max-height: 250px;
        }

        .card-body {
          width: 100%;
          border-left: 2px solid $deepRed;
          padding: 0 0 0 10px;
          h4 {
            color: $deepBlue;
          }

          h5 {
            color: $lightGrey;
            @include flexEndAlignment();
            justify-content: space-between;

            svg {
              color: $deepRed;
            }
          }
        }
      }
    }

    .owl-nav {
      direction: ltr;
      margin-top: 0;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 25%;
      display: flex;
      justify-content: space-between;
      .owl-prev,
      .owl-next {
        position: relative;
        width: 35px;
        height: 35px;
        line-height: 25px;
        border-radius: 50%;
        overflow: hidden;
        font-size: 30px;
        @include transitioning();
      }
    }

    @media (max-width: 997px) {
      .owl-nav {
        display: none;
      }
    }

    button{
      &.owl-dot {
        margin-top: 35px;
        &:hover {
          span {
            background-color: transparent;
          }
        }
        span {
          background-color: transparent;
          border: 1px solid $deepBlue;
          padding: 5px;
        }
        &.active {        
          span {
            width: 40px;
            background-color: $deepBlue;
            border: none;
            border-radius: 30px;
          }
        }
      }
    }
  }

}
// END:: OUR TEAM SECTION STYLES

// START:: ABOUT INFO SECTION STYLES
.about_info {
  padding: $paddingAmount 0;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      margin-bottom: 15px;
      @include mainHeaderStyle();
    }
  }

  .about_text_wraper {
    font-size: 20px;
    color: $lightGrey;
    line-height: 1.6;
    text-align: start;
    word-break: break-word;
  }

  .icon_wraper {
    @include flexCenterAlignment();
    flex-direction: column;
    img {
      min-height: 120px;
      max-height: 120px;
      min-width: 120px;
      max-width: 120px;
    }
    svg {
      color: $deepRed;
      margin: 8px 0;
    }
    h6 {
      color: $lightGrey;
      font-weight: 600;
    }
  }

  .about_info_img_wraper {
    img {
      width: 100%;
      height: auto;
      @include borderradius($borderRadiusAmount);
    }
  }
}
// START:: ABOUT INFO SECTION STYLES

// START:: STORY SECTION STYLES
.story {
  padding: $paddingAmount 0;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .story_main_wraper {
    border-left: 2px solid $lighterGrey;
    .story_line {
      width: 100%;
      display: flex;
      position: relative;
      margin-bottom: 90px;
      &:last-child {
        margin-bottom: 0;
      }

      .date {
        @include flexCenterAlignment();
        width: 60px;
        height: 60px;
        @include borderradius(50%);
        background-color: $deepBlue;
        color: $white;
        position: absolute;
        left: -30px;
        font-weight: 700;
      }

      .story_content {
        margin-inline-start: 60px;
        h3 {
          color: $deepBlue;
        }
        .text {
          color: $lightGrey;
          font-size: 20px;
          line-height: 1.7;
          text-align: start;
          word-break: break-word;
        }
      }
    } 
  }
}
// END:: STORY SECTION STYLES

// START:: AWARDS SECTION STYLES
.awards_rec {
  padding: $paddingAmount 0;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .owl-carousel {
    position: relative;

    .item {
      .img_wraper {
        min-height: 150px;
        max-height: 150px;
        img {
          width: 100%;
          min-height: 150px;
          max-height: 150px;
        }
      }
    }

    .owl-nav {
      direction: ltr;
      margin-top: 0;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 25%;
      display: flex;
      justify-content: space-between;
      .owl-prev,
      .owl-next {
        position: relative;
        width: 35px;
        height: 35px;
        line-height: 25px;
        border-radius: 50%;
        overflow: hidden;
        font-size: 30px;
        @include transitioning();
      }
    }

    @media (max-width: 997px) {
      .owl-nav {
        display: none;
      }
    }

    button{
      &.owl-dot {
        margin-top: 35px;
        &:hover {
          span {
            background-color: transparent;
          }
        }
        span {
          background-color: transparent;
          border: 1px solid $deepBlue;
          padding: 5px;
        }
        &.active {        
          span {
            width: 40px;
            background-color: $deepBlue;
            border: none;
            border-radius: 30px;
          }
        }
      }
    }
  }
}
// END:: AWARDS SECTION STYLES

// START:: PERSONAL SECTION STYLES
.personal_sec {
  padding-bottom: $paddingAmount;

  .persona_img_wraper {
    position: relative;
    img {
      border-radius: $borderRadiusAmount;
      width: 100%;
      height: auto;
    }
  }

  .persona_text_wraper {
    .header_wraper {
      @include flexCenterAlignment();
      justify-content: space-between;
      h3 {
        @include mainHeaderStyle();
        margin-inline-start: 75px;
      }
    }

    .text_wraper {
      font-size: 18px;
      line-height: 1.6;
      color: $lightGrey;
    }
  }

  .btn_wraper {
    margin-top: 20px;
    @include flexCenterAlignment();
    a {
      @include btnHoverEffect();
    }
  }
}
// END:: PERSONAL SECTION STYLES

// START:: VISION SECTION  STYLES
.vision {
  padding: $paddingAmount 0;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .vision_text_wraper {
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    word-break: break-word;
    color: $lightGrey;
  }
} 
// END:: VISION SECTION  STYLES 

// START:: FAQS SECTION STYLES
.faqs {
  padding: $paddingAmount 0;

  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .faqs_wraper {
    .question_wraper {
      .card {
        @include simpleShadow();
        .card-header {
          button {
            display: flex;
            border: none;
            text-decoration: none;
            background-color: transparent;
            word-break: break-word;
            color: $deepBlue;
            svg {
              color: $deepRed;
              margin-inline-end: 10px;
            }
          }
        }

        .card-body {
          font-size: 18px;
          color: $lightGrey;
        }
      }
    }
  }
}
// END:: FAQS SECTION STYLES

// START:: QUALITY SECTION STYLES
.quality {
  padding: $paddingAmount 0;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .quality_text_wraper {
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    word-break: break-word;
    color: $lightGrey;
  } 
}
// END:: QUALITY SECTION STYLES

// START:: CERTIFICATIONS SECTION STYLES
.certificats {
  padding: $paddingAmount 0;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .certificates_text_wraper {
    font-size: 18px;
    color: $lightGrey;
    line-height: 1.6;
    text-align: start;
    word-break: break-word;
  }

  .certificate_img_wraper {
    padding: 10px;
    img {
      width: 100%;
      min-height: 205px;
      max-height: 205px;
      @include borderradius($borderRadiusAmount);
      @include simpleShadow();
    }
  }
}
// END:: CERTIFICATIONS SECTION STYLES

// START:: ABOUT SERVICE SECTION
.about_service {
  padding: $paddingAmount 0;
  .header_wraper {
    @include flexStartAlignment();
    h2 {
      margin-inline-start: 75px;
      @include mainHeaderStyle();
    }
  }

  .about_service_text_wraper {
    font-size: 20px;
    color: $lightGrey;
    line-height: 1.6;
    text-align: start;
    word-break: break-word;
  }

  .about_service_img_wraper {
    img {
      width: 100%;
      height: auto;
      @include borderradius($borderRadiusAmount);
    }
  }
}
// END:: ABOUT SERVICE SECTION

// START:: SERVICE PRODUCTS SECTION STYLES
.service_products {
  padding: $paddingAmount 0;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .owl-carousel {
    .item {
      a {
        text-decoration: none;
        @include flexCenterAlignment();
        flex-direction: column;
        img {
          min-width: 200px;
          max-width: 200px;
          min-height: 200px;
          max-height: 200px;
          @include borderradius(50%); 
        }
  
        h5 {
          text-align: center;
          font-weight: 600;
          margin-top: 10px;
          color: $deepBlue;
          padding-inline-end: 10px;
          border-left: 2px solid $deepRed;
        }
  
        svg {
          margin-top: 8px;
          color: $deepRed;
        }
      }
    }

    .owl-nav {
      direction: ltr;
      margin-top: 0;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 25%;
      display: flex;
      justify-content: space-between;
      .owl-prev,
      .owl-next {
        position: relative;
        width: 35px;
        height: 35px;
        line-height: 25px;
        border-radius: 50%;
        overflow: hidden;
        font-size: 30px;
        @include transitioning();
      }
    }

    @media (max-width: 997px) {
      .owl-nav {
        display: none;
      }
    }

    button{
      &.owl-dot {
        margin-top: 35px;
        &:hover {
          span {
            background-color: transparent;
          }
        }
        span {
          background-color: transparent;
          border: 1px solid $deepBlue;
          padding: 5px;
        }
        &.active {        
          span {
            width: 40px;
            background-color: $deepBlue;
            border: none;
            border-radius: 30px;
          }
        }
      }
    }
  }
}
// END:: SERVICE PRODUCTS SECTION STYLES

// START:: OPPORTUNITIES SECTION STYLES
.oportunities {
  padding: $paddingAmount 0;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .oportunities_text_wraper {
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    word-break: break-word;
    color: $lightGrey;
  }

  .department_wraper {
    .card {
      border: none;
      background-color: transparent;
      position: relative;
      .overlay  {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        @include borderradius($borderRadiusAmount);
        @include flexCenterAlignment();
        color: $white;
        font-size: 22px;
        font-weight: 600;
      }
      img {
        width: 100%;
        height: 300px;
        @include borderradius($borderRadiusAmount);
      }
    }
  }
}
// END:: OPPORTUNITIES SECTION STYLES

// START:: DEPARTMENT VACANCIES SECTION STYLES
.department_vacs {
  padding: $paddingAmount;
  min-height: calc(100vh - (92px + 220px) );
  @include flexCenterAlignment();

  .table_wraper {
    table {
      thead {
        border: 1px solid $darkGrey;
      }

      tbody {
        border-top: none;
        border: 1px solid $lighterGrey;
        a {
          text-decoration: none;
          color: $midRed;
        }
      }
    }
  }
  .pagenation_wraper {
    @include flexCenterAlignment();
    nav {
      border-bottom: none;
      .page-item {
        .page-link {
          color: $deepBlue;
        }
        &.active {
          .page-link {
            border-color: $deepBlue;
            background-color: $deepBlue;
            color: $white;
          }
        } 
      }
    }
  }
}
// START:: DEPARTMENT VACANCIES SECTION STYLES

// START:: JOB DETAILS SECTION STYLES
.job_details {
  padding: $paddingAmount;
  min-height: calc(100vh - (92px + 220px) );

  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .details_line {
    margin-bottom: 25px;
    h3 {
      color: $deepBlue;
      text-align: start;
    }
    .line_text {
      color: $lightGrey;
      font-size: 20px;
      line-height: 1.6;
      text-align: start;
      word-break: break-word;
    }
  }

  .btn_wraper {
    @include flexCenterAlignment();
    a {
      @include btnHoverEffect();
    }
  }
}
// END:: JOB DETAILS SECTION STYLES

// START:: JOB APPLICATION SECTION  STYLES
.job_application {
  padding: $paddingAmount;
  min-height: calc(100vh - (92px + 220px) );

  .form_wraper {
    padding: 20px;
    @include simpleShadow();
    @include borderradius($borderRadiusAmount);
    .header_wraper {
      @include flexStartAlignment();
      h3 {
        color: $deepBlue;
      }
    }

    .btn_wraper {
      width: 100%;
      @include flexCenterAlignment();
      button {
        @include btnHoverEffect();
      }
    }
  }
}
// END:: JOB APPLICATION SECTION  STYLES








// START:: HOW TO SHARE SECTION STYLES
.share {
  .header_wraper {
    @include flexCenterAlignment();
    justify-content: flex-start;
    margin-inline-start: 75px;
    h2 {
      @include mainHeaderStyle();
    }
  }

  .share_img_wraper {
    img {
      width: 100%;
      min-height: 400px;
      max-height: 400px;
      border-radius: $borderRadiusAmount;
    }
  }

  .share_info_wraper {
    padding-top: 20px;
    font-size: 20px;
    color: $lightGrey;
    line-height: 1.6;
    text-align: justify;
  }

  .iframe_waper {
    @include flexCenterAlignment();
    iframe {
      border-radius: $borderRadiusAmount;
      width: 100%;
      min-height: 500px;
      max-height: 500px;
    }
  }

  .form_wraper {
    padding-top: $paddingAmount;
    padding-bottom: $paddingAmount;
    form {
      .form-group {
        input,
        textarea {
          width: 100%;
          border: 1px solid $deepBlue;
          padding: 30px;
          border-radius: $borderRadiusAmount;
          &:focus {
            outline: none;
          }
        }
        textarea {
          height: 250px;
        }
      }

      .btn_box {
        @include flexCenterAlignment();
        button {
          @include btnHoverEffect();
        }
      }
    }
  }
}
// END:: HOW TO SHARE SECTION STYLES

// START:: GET IN TOUCH SECTION STYLES
.get_in_touch {
  padding-top: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .social {
    img {
      min-width: 70px;
      max-width: 70px;
      min-height: 70px;
      max-height: 70px;
      @include transitioning();
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
// END:: GET IN TOUCH SECTION STYLES

// START:: CONTACT INFO SECTION STYLES
.contact_info {
  .card {
    @include flexCenterAlignment();
    border: none;
    &:hover {
      span {
        svg {
          transform: rotate(360deg)
        }
      }
    }

    span {
      @include flexCenterAlignment();
      width: 75px;
      height: 75px;
      border: 2px dotted $lightGrey;
      border-radius: 50%;
      margin-bottom: 15px;
      svg {
        color: $midRed;
        @include transitioning();
      }
    }

    h4 {
      color: $deepBlue;
    }

    h5 {
      color: $lightGrey;
    }
  }

  @media (max-width: 992px) {
    .line_wraper {
      display: none !important;
    }
  }
}
// END:: CONTACT INFO SECTION STYLES

// START:: FOOTER STYLES
footer {
  background-color: $darkGrey;

  .footer_logo {
    @include flexCenterAlignment();
    img {
      min-width: 100px;
      max-width: 100px;
      min-height: 100px;
      max-height: 100px;
    }
  }

  .short_cuts {
    display: flex;
    flex-direction: row;
    a {
      text-decoration: none;
      color: $lighterGrey;
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -100%;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $lightRed;
        @include transitioning();
      }
      &:hover {
        color: $lightRed;
        &::before {
          left: 0;
        }
      }
    }
  }

  .get_in_touch {
    h5 {
      color: $lighterGrey;
    }
    ul {
      color: $lighterGrey; 
      li {
        margin: 8px 0;
        span {
          color: $lightRed;
          a {
            text-decoration: none;
            color: $lightRed;
          }
        }
      }
    }
  }

  .follow_us {
    h5 {
      color: $lighterGrey;
    }
    ul {
      text-align: center;
      li {
        display: inline-block;
        margin: 3px 5px;
        @include transitioning();
        a {
          color: $white;
          opacity: 0.5;
        }
        &:hover {
          transform: rotate(360deg) scale(1.2);
          a {
            opacity: 1;
          }
        }
      }
    }

    .payment {
      @include transitioning();
      a {
        text-decoration: none;
        color: $lightRed;
      }
      &:hover {
        transform: scale(1.2)
      }
    }
  }

  .copy_rights {
    padding: 5px;
    background-color: #121212;
    color: $white;
    span {
      a {
        text-decoration: none;
        color: $lightOrange;
        @include transitioning();
      }
    }
  }
}
// END:: FOOTER STYLES


















// START:: WHY SECTION STYLES
.why_sec {
  padding-top: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .icons_wraper {
    background: $lightCoffee;
    background: -webkit-linear-gradient(to top, $lightCoffee, #fff);
    background: linear-gradient(to top, $lightCoffee, #fff);
    padding-bottom: $paddingAmount;
    img {
      min-width: 120px;
      max-width: 120px;
      min-height: 120px;
      max-height: 120px;
    }
    h5 {
      color: $deepBlue;
    }
  }
}
// END:: WHY SECTION STYLES







// START:: VIDEOS SECTION STYLES
.videos-sec {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .owl-carousel {
    position: relative;

    .item {
      .iframe_wraper {
        min-height: 250px;
        max-height: 250px;
        iframe {
          width: 100%;
          min-height: 250px;
          max-height: 250px;
          border-radius: $borderRadiusAmount;
        }
      }
      h5 {
        color: $deepBlue;
        margin-top: 8px;
      }
    }

    .owl-nav {
      direction: ltr;
      margin-top: 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      .owl-prev,
      .owl-next {
        position: relative;
        background-color: $deepBlue;
        color: $white;
        width: 35px;
        height: 35px;
        line-height: 25px;
        border-radius: 50%;
        overflow: hidden;
        @include transitioning();
        &:hover {
          transform: scale(1.1);
        }
      }
      .owl-prev {
        &::before {
          content: "\f0d9";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $deepBlue;
          @include flexCenterAlignment();
        }
      }
      .owl-next {
        &::before {
          content: "\f0da";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $deepBlue;
          @include flexCenterAlignment();
        }
      }
    }
  }

  .btn_box {
    margin-top: 15px;
    @include flexCenterAlignment();
    a {
      overflow: hidden;
      @include btnHoverEffect();
    }
  }
}
// END:: VIDEOS SECTION STYLES

// START:: ABOUT PAGE STYLE
.about_dr_desc {
  .about_img {
    height: auto;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: $borderRadiusAmount;
    }
  }

  .about_text {
    @include flexCenterAlignment();
    flex-direction: column;
    h3 {
      width: 100%;
      color: $deepBlue;
      text-align: start;
      border: none !important;
    }
    p {
      color: $lightGrey;
      text-align: start;
    }
    .icon_wpaper {
      @include flexCenterAlignment();
      flex-direction: column;
      img {
        min-width: 120px;
        max-width: 120px;
        min-height: 120px;
        max-height: 120px;
      }
      h6 {
        text-align: center;
        color: $deepBlue;
      }
    }
  }
}
// END:: ABOUT PAGE STYLE

// START:: DR OPERATION SECTION STYLES
.dr_operation {
  padding-top: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  a {
    text-decoration: none;
    .operation_img_wraper {
      img {
        width: 100%;
        min-height: 250px;
        max-height: 250px;
        border-radius: $borderRadiusAmount;
      }
      h5 {
        color: $deepBlue;
      }
    }
  }

  .btn_box {
    @include flexCenterAlignment();
    a {
      @include btnHoverEffect();
    }
  }
}
// END:: DR OPERATION SECTION STYLES

// START:: OPERATION PAGE STYLES
.operations {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .operation_wraper {
    .operation_img_wraper {
      height: auto;
      img {
        width: 100%;
        height: 100%;
        border-radius: $borderRadiusAmount;
      }
    }

    .operation_text_wraper {
      h4 {
        color: $deepBlue;
        text-align: start;
      }

      p {
        font-size: 18px;
        color: $lightGrey;
        line-height: 1.6;
        text-align: justify;
      }

      .btn_box {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        a {
          @include btnHoverEffect();
        }
      }
    }

    &:nth-child(odd) {
      .operation_img_wraper {
        order: 2;
      }
      .operation_text_wraper {
        order: 1;
      }
    }

    @media (max-width: 767px) {
      &:nth-child(odd) {
        .operation_img_wraper {
          order: 1;
        }
        .operation_text_wraper {
          order: 2;
        }
      }
    }
  }

  .btn_box {
    @include flexCenterAlignment();
    a {
      @include btnHoverEffect();
    }
  }
}
// END:: OPERATION PAGE STYLES



// START:: ALL BOOKS SECTION STYLES
.all_books {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .filter_wraper {
    padding: 20px 0;
    border-radius: $borderRadiusAmount;
    @include flexCenterAlignment();
    @include simpleShadow();
    flex-direction: column;
    h6 {
      color: $deepBlue;
    }
    .form-group {
      color: $lightGrey;
    }
  }

  .book_details {
    .card {
      height: 100%;
      position: relative;
      border: none;
      .card_img_wraper {
        @include flexCenterAlignment();
        img {
          min-width: 145px;
          max-width: 145px;
          min-height: 195px;
          max-height: 195px;
        }
        .badge {
          position: absolute;
          right: 25px;
          top: 20px;
          background-color: $lightCoffee;
          color: $deepBlue;
          padding: 5px
        }
      }

      .card-body {
        padding-top: 5px;
        min-height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h5 {
          color: $deepBlue;
        }

        ul {
          width: 100%;
          min-height: 95px;
          padding: 0;
          li {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $deepBlue;
            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              span {
                &:last-child {
                  color: $midRed;
                }
              }
            }
          }
        }

        .btn_box {
          @include flexCenterAlignment();
          z-index: 1;
          a {
            overflow: hidden;
            @include btnHoverEffect();
          }
        }
      }
    }
  }

  .btn_box {
    @include flexCenterAlignment();
    button {
      @include btnHoverEffect();
    }
  }
}
// END:: ALL BOOKS SECTION STYLES

// START:: BOOK DETAILS PAGE STYLES
.book_info {
  padding-top: $paddingAmount;
  .header_wraper {
    display: flex;
    justify-content: start;
    h2 {
      @include mainHeaderStyle();
    }
  }

  .book_text_wraper {
    .tabs_wraper {
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      padding: 8px;
      .nav {
        display: flex;
        justify-content: start;
        margin-bottom: 0 !important;
        .nav-item {
          .nav-link {
            color: $deepBlue;
            &.active {
              background-color: $lightCoffee;
              color: $white;
              border-radius: $largeBorderRadiusAmount;
            }
          }
        }
      }

      .price {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
          color: $deepBlue;
          margin: 0 8px;
          &.old_price {
            color: $midRed;
            span {
              color: $midRed;
              text-decoration: line-through;
              margin-inline-start: 0;
            }
          }
        }
      }
    }
  }

  .tab-content {
    padding-bottom: 15px;
    min-height: 345px;
    max-height: 345px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      background-color: $lighterGrey;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $deepBlue;
    }
    .tab-pane {
      color:$lightGrey;
      font-size: 18px;
      line-height: 1.6;
    }
  }

  .actions_wraper {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 8px;
    a {
      text-decoration: none;
      color: $lightOrange;
      font-size: 18px;
      span {
        color: $deepBlue;
        svg {
          color: $lightGrey;
        }
      }
    }
    button {
      border: none;
      background: transparent;
      color: $midRed;
    }
    .dropdown {
      &.bootstrap-select {
        width: auto !important;
      }
      .option {
        &.active,
        &.selected  {
          background-color: $lightCoffee !important;
        }
      }
    }
  }
}
// END:: BOOK DETAILS PAGE STYLES

//  START:: BOOK DEEP DETAILS SECTION STYLES
.deep_details {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .deep_text {
    display: flex;
    flex-direction: column;
    padding: 0 $paddingAmount;
    .header_wraper {
      display: flex;
      h3 {
        display: flex;
        @include mainHeaderStyle();
      }
    }

    p {
      color: $lightGrey;
      font-size: 18px;
      display: flex;
      span {
        font-weight: bold;
        color: $darkGrey;
      }
    }
  }

  .deep_imgs {
    padding: 0 $paddingAmount;
    .header_wraper {
      display: flex;
      h3 {
        @include  mainHeaderStyle();
      }
    }

    .stores_wraper {
      .img_wraper {
        display: inline-block;
        width: 24%;
        padding: 8px;
        img {
        width: 100%;
        min-height: 150px;
        max-height: 150px;
        }
      }
    }

    @media ( max-width: 767px ) {
      .stores_wraper {
        text-align: center;
        .img_wraper {
          width: 49%;
          img {
          min-width: 250px;
          max-width: 250px;
          min-height: 250px;
          max-height: 250px;
          }
        }
      }
    }
  }
}
//  END:: BOOK DEEP DETAILS SECTION STYLES

// START:: VIDEOS SECTION STYLES
.related_books {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .owl-carousel {
    position: relative;

    .item {
      .card {
        height: 100%;
        position: relative;
        border: none;
        .card_img_wraper {
          @include flexCenterAlignment();
          img {
            min-width: 145px;
            max-width: 145px;
            min-height: 195px;
            max-height: 195px;
          }
          .badge {
            position: absolute;
            right: 50px;
            top: 20px;
            background-color: $lightCoffee;
            color: $deepBlue;
            padding: 5px;
          }
        }

        .card-body {
          padding-top: 5px;
          @include flexCenterAlignment();
          flex-direction: column;
          h5 {
            width: 100%;
            text-align: end;
            color: $deepBlue;
          }

          ul {
            width: 100%;
            margin-bottom: 0 !important;
            padding: 0;
            direction: ltr;
            li {
              margin-top: 10px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: $deepBlue;
              &:first-child {
                margin-top: 0;
              }
              &:last-child {
                span {
                  &:last-child {
                    color: $deepBlue;
                  }
                }
              }
            }
          }
  
          .btn_box {
            @include flexCenterAlignment();
            z-index: 1;
            a {
              overflow: hidden;
              @include btnHoverEffect();
            }
          }
        }
      }
    }

    .owl-nav {
      direction: ltr;
      margin-top: 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      .owl-prev,
      .owl-next {
        position: relative;
        background-color: $lightCoffee;
        color: $white;
        width: 35px;
        height: 35px;
        line-height: 25px;
        border-radius: 50%;
        overflow: hidden;
        @include transitioning();
        &:hover {
          transform: scale(1.1);
        }
      }
      .owl-prev {
        &::before {
          content: "\f0d9";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $lightCoffee;
          @include flexCenterAlignment();
        }
      }
      .owl-next {
        &::before {
          content: "\f0da";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $lightCoffee;
          @include flexCenterAlignment();
        }
      }
    }
  }

  .btn_box {
    margin-top: 15px;
    @include flexCenterAlignment();
    a {
      overflow: hidden;
      @include btnHoverEffect();
    }
  }
}
// END:: VIDEOS SECTION STYLES

//  START:: BIOGRAPHY SECTION
.biography {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .biography_wrape {
    .biography_img {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        border-radius: $borderRadiusAmount;
      }
    }

    .biography_text {
      padding-inline-end: $paddingAmount;
      h4 {
        color: $deepBlue;
        display: flex;
        justify-content: flex-start;
      }
      p {
        text-align: start;
        color: $lightGrey;
        font-size: 18px;
        line-height: 1.6;
      }
      .btn_box {
        display: flex;
        justify-content: flex-end;
        a {
          @include btnHoverEffect();
        }
      }
    }
  }
}
//  END:: BIOGRAPHY SECTION

//  START:: REVIEWS SECTION
.reviews {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .review_wraper {
    padding: 15px;
    border-radius: $borderRadiusAmount;
    @include simpleShadow();
    .review_header {
      display: flex;
      align-items: center;
      img {
        min-width: 100px;
        max-width: 100px;
        min-height: 100px;
        max-height: 100px;
        border-radius: 50%;
        border: 3px solid $lightGrey;
        margin-inline-end: 10px;
      }

      span {
        svg {
          color: rgb(235, 220, 17);
        }
      }
    }

    .review_body {
      p {
        text-align: start;
        margin-top: 15px;
        color: $lightGrey;
        font-size: 18px;
        line-height: 1.6;
      }
    }
  }

  .btn_box {
    margin-top: 25px;
    @include flexCenterAlignment();
    a {
      @include btnHoverEffect();
    }
  }
}
//  END:: REVIEWS SECTION

// START:: CAIRO UNIVERSITY SECTION STYLES
.cairo_university {
  padding-top: 30px;
  padding-bottom: 30px;
  .cairo_university_img_wraper {
    img {
      width: 100%;
      min-height: 400px;
      max-height: 400px;
      border-radius: $borderRadiusAmount;
    }
  }

  .cairo_university_info_wraper {
    padding-top: 20px;
    font-size: 20px;
    color: $lightGrey;
    line-height: 1.6;
    text-align: justify;
  }
}
// END:: CAIRO UNIVERSITY SECTION STYLES

// START:: ALL VIDEOS PAGE STYLES
.videos {
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .video_wraper {
    iframe {
      width: 100%;
      min-height: 250px;
      max-height: 250px;
      border-radius: $borderRadiusAmount;
    }
    h4 {
      color: $deepBlue;
      text-align: center;
    }
  }

  .btn_box {
    @include flexCenterAlignment();
    a {
      @include btnHoverEffect();
    }
  }
}
// END:: ALL VIDEOS PAGE STYLES

// START:: AUTH PAGE STYLES
.auth_forms_wraper {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  border-left: 2px solid $lightCoffee;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  form {
    position: relative;
    margin-top: 15px;
    padding: 0;
    border-radius: $borderRadiusAmount;
    overflow: hidden;
    @include simpleShadow();
    &.login {
      max-height: 350px;
      min-height: 350px;
    }
    &.sign_up {
      max-height: 750px;
      min-height: 750px;
      svg {
        position: relative;
        top: -233px;
        right: -180px;
        z-index: -1;
        &:last-of-type {
          top: -319px;
          left: -200px;
          transform: rotate(30deg);
        }
      }
      p {
        color: $deepBlue;
      }
      ul {
        li {
          display: inline-block;
          margin: 0;
          img {
            min-width: 50px; 
            max-width: 50px; 
            min-height: 50px; 
            max-height: 50px; 
          }
        }
      }
    }
    &.reset {
      max-height: 220px;
      min-height: 220px;
    }
    svg {
      position: relative;
      top: -233px;
      right: -180px;
      z-index: -1;
    }
    .form_overlay {
      padding: 25px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include flexCenterAlignment();
      flex-direction: column;
      .form-group {
        width: 100%;
        input {
          width: 100%;
          background-color: transparent;
          padding: 30px 10px;
          border-radius: $largeBorderRadiusAmount;
          @include simpleShadow();
        }
      }
      .btn_box {
        width: 100%;
        button {
          margin-bottom: 15px;
          width: 100%;
          @include btnHoverEffect();
          padding: 10px 10px;
          @include simpleShadow();
        }
        span {
          color: $deepBlue;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: rgb(49, 94, 146);
          }
        }
      }
      .back_link {
        text-decoration: none;
        color: $lightCoffee;
        @include transitioning();
        &:hover {
          color: $deepBlue;
        }
      }
    }
  }
}
// END:: AUTH PAGE STYLES

// START:: USER PROFILE PAGE CONTENT SECTION STYLES
.page_content_wraper {
  padding: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    margin-bottom: 10px;
    h2 {
      @include mainHeaderStyle();
    }
  }

  form {
    position: relative;
    margin-top: 15px;
    padding: 0;
    border-radius: $borderRadiusAmount;
    overflow: hidden;
    @include simpleShadow();
    &.login {
      max-height: 350px;
      min-height: 350px;
    }
    &.sign_up {
      max-height: 650px;
      min-height: 650px;
      svg {
        position: relative;
        top: -233px;
        right: -180px;
        z-index: -1;
        &:last-of-type {
          top: -319px;
          left: -200px;
          transform: rotate(30deg);
        }
      }
      p {
        color: $deepBlue;
      }
      ul {
        li {
          display: inline-block;
          margin: 0;
          img {
            min-width: 50px; 
            max-width: 50px; 
            min-height: 50px; 
            max-height: 50px; 
          }
        }
      }
    }
    &.reset {
      max-height: 220px;
      min-height: 220px;
    }
    svg {
      position: relative;
      top: -233px;
      right: -180px;
      z-index: -1;
    }
    .form_overlay {
      padding: 25px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include flexCenterAlignment();
      flex-direction: column;
      .form-group {
        width: 100%;
        input {
          width: 100%;
          background-color: transparent;
          padding: 30px 10px;
          border-radius: $largeBorderRadiusAmount;
          @include simpleShadow();
        }
      }
      .btn_box {
        width: 100%;
        button {
          margin-bottom: 15px;
          width: 100%;
          @include btnHoverEffect();
          padding: 10px 10px;
          @include simpleShadow();
        }
        span {
          color: $deepBlue;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: rgb(49, 94, 146);
          }
        }
      }
    }
  }

  table {
    td {
      button {
        color: $midRed;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .caption_wraer {
    h5 {
      margin-top: 8px;
      text-align: center;
      color: $lightGrey;
      font-weight: 400;
      span {
        color: $deepBlue;
      }
    }
  }
}
// END:: USER PROFILE PAGE CONTENT SECTION STYLES

// START:: USER PROFILE MENU SECTION STYLES
.user_profile_menu {
  padding: $paddingAmount;
  padding-inline-end: 0;
  border-left: 2px solid $lightCoffee;
  background-color: #ffe71f14;
  height: 100%;
  min-height: 80vh;
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    li {
      @include menuHoverEffect();
      margin: 8px 0;
      color: $lightGrey;
      &.active,
      &:hover {
        svg {
          color: $lightCoffee;
        }
      }
      button {
        color: $lightGrey;
      }
    }
  }
}

@media ( max-width: 767px) {
  .page_content_wraper {
    order: 2;
  }

  .user_menu_wraper {
    order: 1;
    .user_profile_menu {
      min-height: auto !important;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-inline-start: 0;
      ul {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
          font-size: 13px;
        }
      }
    }
  }
}
// END:: USER PROFILE MENU SECTION STYLES



// START:: FLOATING ICON STYLES
// .floating_icon {
//   position: fixed;
//   bottom: 30px;
//   right: 5px;
//   z-index: 999;
//   img {
//     min-width: 90px;
//     max-width: 90px;
//     min-height: 90px;
//     max-height: 90px;
//   }
// }
//END:: FLOATING ICON STYLES

